@import url(lib/reset.css);

body{
	margin: 0; 
	padding:0; 
	font-size: 12px; 
	color:#666; 
	background-color: #fff;
	font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
}
div#main_container{
	display: block;
	margin: 0px; 
	padding: 0px;
	width: 100%;
	height: 100%;
}
div#container{
	display: block;
	width:100%;
	height: auto;
	padding: 0px;
	margin: 0 auto;
}
div#header{
	width:100%;
	height: 36px;
	margin: 0px;
	padding: 0px;
	background-color: #c62900;
}
div#headerblock{
	position: relative;
	width:1005px;
	height: 36px;
	margin: 0 auto;
	padding: 0px;
}
a#logo{
	position: absolute;
	top:0px;
	left:10px;
	width: 121px;
	height: 36px;
	margin: 0px;
	padding: 0px;
	background: url('../images/logo.jpg');
}
ul#headerbtn{
	position: absolute;
	top:0px;
	right:10px;
	margin: 0px;
	padding: 0px;
	line-height:36px;
}
ul#headerbtn li{
	float: left;
	display: block;
	margin: 0 2px 0 2px;
	color: #fff;
	line-height: 36px;
}
ul#headerbtn li a{
	text-decoration: none;
	color:#fff;
}
ul.headerbtn li a:hover{

}
div#navigation{
	width:100%;
	height: 99px;
	margin: 0px;
	padding: 17px 0 0 0;
	background-color: #ffffff;
	background: url('../images/navbar.jpg')
}
div#navigation div.bar{
	position: relative;
	width: 1005px;
	height: 76px;
	margin: 0 auto;
	padding: 0;
}
div#navigation div.bar a.logo{
	display: block;
	width: 165px;
	height: 76px;
	background: url('../images/logo2.jpg');
}
div#navigation div.bar div.menu1 a{
	position: absolute;
	top:-8px;
	right:200px;
	display: block;
	width: 194px;
	height: 94px;
	background: url('../images/nav1.png');
	cursor: pointer;
}
div#navigation div.bar div.menu1 a:hover{
	background: url('../images/nav1_hover.png');
}
div#navigation div.bar div.menu1 a.active{
	background: url('../images/nav1_hover.png');
}
div#navigation div.bar div.menu2 a{
	position: absolute;
	top:-8px;
	right:0px;
	display: block;
	width: 194px;
	height: 94px;
	background: url('../images/nav2.png');
	cursor: pointer;
}
div#navigation div.bar div.menu2 a:hover{
	background: url('../images/nav2_hover.png');
}
div#navigation div.bar div.menu2 a.active{
	background: url('../images/nav2_hover.png');
}
div#banner{
	width:100%;
	height: 347px;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
div#bannerbox{
	width:1000px;
	height: 347px;
	margin: 0px auto;
	padding: 0px;
	background-color: #fff;
}
div#bannerbox div.bannerphotobox{
	position: relative;
	width:1000px;
	height: 297px;
	margin: 0px auto;
	padding: 0px;
	background-color: #eee;
	overflow: hidden;
}
div#bannerbox div.bannerbtnbox{
	position: relative;
	width:1000px;
	height: 40px;
	margin: 0px auto;
	padding: 10px 0 0 0;
	overflow: hidden;
	text-align: center;
}
div#bannerbox div.bannerbtnbox ul{
	margin: 0 auto;
}
div#bannerbox div.bannerbtnbox ul li{
	float: left;
	border-radius: 7px;
	width: 14px;
	height: 14px;
	background-color: #cd6f57;
	margin: 10px;
	cursor: pointer;
}
div#bannerbox div.bannerphotobox ul{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 999999px;
}
div#bannerbox div.bannerphotobox ul li{
	position: relative;
	float: left;
	display: block;
	width:1152px;
	height: 297px;
}
div#bannerbox div.bannerphotobox ul li div.infobox{
	position: absolute;
	top:90px;
	right: 140px;
	width:394px;
	height: 150px;
	padding: 15px;
	background: url(../images/infobox.png);
	background-repeat: no-repeat;
}
div#bannerbox ul li div.infobox p.name{
	display: block;
	width: 354px;
	height: 21px;
	margin: 0 0 5px 0;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
div#bannerbox ul li div.infobox p.desc{
	display: block;
	width: 354px;
	max-height: 42px;
	margin: 0 0 10px 0;
	font-size: 12px;
	color: #333;
	line-height: 21px;
	text-overflow:ellipsis;
	overflow:hidden;
}
div#bannerbox ul li div.infobox p.time{
	display: block;
	width: 354px;
	height: 27px;
	padding: 0 0 0 30px;
	margin: 0 0 5px 0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 27px;
	background: url('../images/timer.png');
	background-repeat: no-repeat;
	letter-spacing: 1px;
	word-spacing: 0px;
}
div#bannerbox ul li div.infobox p.time span{
	font-size: 24px;
}
div#bannerbox ul li div.infobox a{
	display: block;
	width: 143px;
	height: 41px;
	margin: 0 0 0 224px;
	background: url('../images/bannerbtn.jpg');
}
div#bannerline{
	width:940px;
	height: 1px;
	background-color: #d6d6d6;
	margin: 0 auto;
	padding: 0;
}
div#products{
	width:1005px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
}
div#products div.prod {
	float: left;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 194px;
	margin: 10px 5px;
	cursor: pointer;
}
div#products div.prod div.img{
	overflow: hidden;
	width: 240px;
	height: 194px;
	margin: 0px;
	padding: 0px;
}
div#products div.prod div.black{
	position: absolute;
	left: 0px;
	top: -53px;
	width: 240px;
	height: 53px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
div#products div.prod div.black div.blackbg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 53px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.5);
}
div#products div.prod div.black div.txt{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 53px;
	font-size: 12px;
	line-height: 53px;
	color: #fff;
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 1px;
}
div#products div.prod div.black div.txt span{
	font-size: 26px;
}
div#info1{
	width:1005px;
	height: 200px;
	margin: 0 auto;
	padding: 0px;
	background: url('../images/info1.jpg');
}
div#info1line{
	width:980px;
	height: 1px;
	margin: 0 auto;
	padding: 0px;
	background-color: #8d8d8d;
}
div#info2{
	width:520px;
	height: 65px;
	margin: 0 auto;
	padding: 10px 0 0 485px;
	background: url('../images/info2.jpg');
	line-height: 21px;
	font-size: 14px;
}
div#fbblock{
	width:1005px;
	height: 325px;
	margin: 0 auto;
	padding: 0px;
}
div#fb{
	width:980px;
	height: 285px;
	margin: 0 auto;
	padding: 0px;
	background: url('../images/fb.jpg');
}
div#footer{
	width:100%;
	height: 72px;
	margin: 0px;
	padding: 0px;
	background-color: #c62900;
}
div#footerblock{
	position: relative;
	width:1005px;
	height: 72px;
	margin: 0 auto;
	padding: 0px;
}
div#footer_logo{
	position: absolute;
	top:7px;
	left:10px;
	width: 140px;
	height: 57px;
	margin: 0px;
	padding: 0px;
	background: url('../images/footer_logo.jpg');
}
div#footerblock ul{
	position: absolute;
	top:12px;
	right:10px;
}
div#footerblock ul li{
	float: left;
	display: block;
	margin: 0 2px 0 2px;
	color: #fff;
	line-height: 21px;
}
div#footerblock ul li a{
	text-decoration: none;
	color: #fff;
}
div#footerblock ul li a:hover{

}
div#footerblock p{
	position: absolute;
	top:35px;
	right:10px;
	color: #fff;
	line-height: 21px;
}
div#faqbanner{
	width:1152px;
	height: 265px;
	margin: 0px auto;
	padding: 0px;
	background-color: #fff;
}
div#faqbannerbox{
	display: block;
	width: 1005px;
	height: 265px;
	margin: 0 auto;
	padding: 0;
	background: url('../images/faq.jpg');
}
div#faq{
	display: block;
	width: 905px;
	min-height: 540px;
	margin: 0 auto;
	padding: 30px 50px 30px 50px;
}
div#faq div.title{ 
	display: block;
	width: 151px;
	height: 30px;
	margin: 0 0 25px 0;
	padding: 0;
	font-size: 24px;
	line-height: 31px;
	color: #333;
	/*background: url('../images/faq_title.jpg');*/
}
div#faq div.qua{
	display: block;
	width: 100%;
	min-height: 190px;
	border-bottom: solid 1px #ccc;
	padding: 0 0 10px 0;
}
div#faq div.qua ul li a{
	text-decoration: none;
	color:#c62900;
	font-size: 14px;
	line-height: 24px;
	word-spacing: 1px;
}
div#faq div.ans ul li{
	display: block;
	margin: 15px 0 15px 0;
}
div#faq div.ans ul li div.subject{
	color:#c62900;
	font-size: 14px;
	line-height: 24px;
	word-spacing: 1px;
}
div#faq div.ans ul li div.content{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 0 10px 0;
	font-size: 14px;
	word-spacing: 1px;
	line-height: 24px;
}
div#oldprods{
	display: block;
	width: 1005px;
	min-height: 600px;
	margin: 0 auto;
	padding: 0 0 0 0;
}
div#oldprods div.title{
	display: block;
	width: 1005px;
	height: 36px;
	padding-bottom: 5px;
	background: url('../images/oldprods.jpg');
	background-repeat: no-repeat;
	border-bottom: 1px solid #ccc;
}
div#oldprods div.prod {
	float: left;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 194px;
	margin: 10px 5px;
	cursor: pointer;
}
div#prod{
	display: block;
	width: 1005px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
div#prod div.prod_1{
	display: block;
	width: 100%;
	height: 480px;
	margin: 0;
	padding: 0;
}
div#prod div.prod_2{
	display: block;
	width: 100%;
	height: 45px;
	margin: 5px 0 0 0;
	padding: 0;
}
div#prod div.prod_3{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
div#prod div.prod_1 div.photo{
	float: left;
	display: block;
	width: 640px;
	height: 480px;
	margin: 0 18px 0 0;
	padding: 0;
}
div#prod div.prod_1 div.info{
	width: auto;
	height: 480px;
	margin: 0 0 0 658px;
	padding: 0;
}
div#prod div.prod_1 div.info div.info_1{
	display: block;
	width: auto;
	height: 210px;
	margin: 0 0 14px 0;
	padding: 0;
	background: url("../images/icon.jpg");
	background-repeat: no-repeat;
	border: 1px solid #ccc; 
	box-shadow:1px 1px 5px 1px rgba(20%,20%,40%,0.15);
}
div#prod div.prod_1 div.info div.info_1 div.block{
	display: block;
	width: auto;
	height: 180px;
	box-shadow:-1px -1px 5px 1px rgba(20%,20%,40%,0.15);
	overflow: hidden;
	padding: 15px;
}
div#prod div.prod_1 div.info div.info_1 div.block p.prodname{
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	color: #333;
}
div#prod div.prod_1 div.info div.info_1 div.block p.proddesc{
	font-size: 14px;
	line-height: 21px;
	color: #333;
}
div#prod div.prod_1 div.info div.info_2{
	display: block;
	width: auto;
	height: 184px;
	margin: 0 0 22px 0;
	padding: 0;
	border: 1px solid #ccc; 
	box-shadow:1px 1px 5px 1px rgba(20%,20%,40%,0.15);
}
div#prod div.prod_1 div.info div.info_2 div.block{
	display: block;
	width: auto;
	height: 169px;
	box-shadow:-1px -1px 5px 1px rgba(20%,20%,40%,0.15);
	overflow: hidden;
	background: url("../images/timer.png");
	background-repeat: no-repeat;
	background-position: 22px 11px;
	padding: 15px 0 0 55px;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li{
	line-height: 28px;
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li.l_1{
	font-size: 14px;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li.l_1 span{
	font-size: 18px;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li.l_2{
	color:#999;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li.l_4{
	color:#999;
}
div#prod div.prod_1 div.info div.info_2 div.block ul li.l_3{
	color:#c62900;
}
div#prod a.buy_btn{
	display: block;
	width: 251px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	background: url("../images/buy.jpg");
	border-radius: 5px;
}
div#prod div.prod_3 div.left{
	float: left;
	display: block;
	width: 640px;
	min-height: 480px;
	margin: 0 18px 0 0;
	padding: 0;
}
div#prod div.prod_3 div.right{
	width: auto;
	min-height: 415px;
	margin: 0 0 0 658px;
	padding: 45px 0 20px 60px;
}
div#prod div.prod_3 div.right div.prod{
	margin: 10px 0 10px 0;
}
div#prod div.prod_3 div.left ul, div#prod div.prod_3 div.left li {
	margin: 0;
	padding: 0;
	list-style: none;
}
div#prod div.prod_3 div.left .abgne_tab {
	clear: left;
	width: auto;
	margin: 10px 0;
}
div#prod div.prod_3 div.left ul.tabs {
	width: 100%;
	height: 44px;
}
div#prod div.prod_3 div.left ul.tabs li {
	float: left;
	height: 44px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	margin-right: 3px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	border-left: none;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	box-shadow:1px -3px 5px 1px rgba(20%,20%,40%,0.05);
}
div#prod div.prod_3 div.left ul.tabs li a {
	display: block;
	padding: 0 20px;
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 44px;
}
div#prod div.prod_3 div.left ul.tabs li a:hover {
	background: #fff;
}
div#prod div.prod_3 div.left ul.tabs li.active  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
div#prod div.prod_3 div.left ul.tabs li.active a:hover {
	background: #fff;
}
div#prod div.prod_3 div.left div.tab_container {
	clear: left;
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 0 5px 5px 5px;
	box-shadow:1px -3px 5px 1px rgba(20%,20%,40%,0.05);
	overflow: hidden;
}
div#prod div.prod_3 div.left div.tab_container .tab_content {
	padding: 20px;
}

div#prod div.prod_3 div.left div.tab_container .tab_content iframe{
	width: 100%;
}

div#prod div.prod_3 div.left div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}
div#prod div.subprod {
	float: left;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 194px;
	margin: 10px 5px;
	cursor: pointer;
}
div#prod div.subprod div.img{
	overflow: hidden;
	width: 240px;
	height: 194px;
	margin: 0px;
	padding: 0px;
}
div#prod div.subprod div.black{
	position: absolute;
	left: 0px;
	top: -53px;
	width: 240px;
	height: 53px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
div#prod div.subprod div.black div.blackbg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 53px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.5);
}
div#prod div.subprod div.black div.txt{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 53px;
	font-size: 12px;
	line-height: 53px;
	color: #fff;
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 1px;
}
div#prod div.subprod div.black div.txt span{
	font-size: 26px;
}
div#order_memberedit{
	display: block;
	width: 1005px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
div#order_memberedit ul, div#order_memberedit div.left li {
	margin: 0;
	padding: 0;
	list-style: none;
}
div#order_memberedit .abgne_tab {
	clear: left;
	width: auto;
	margin: 10px 0;
}
div#order_memberedit ul.tabs {
	width: 100%;
	height: 44px;
}
div#order_memberedit ul.tabs li {
	float: left;
	height: 44px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	margin-right: 3px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	border-left: none;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	box-shadow:1px -3px 5px 1px rgba(20%,20%,40%,0.05);
}
div#order_memberedit ul.tabs li a {
	display: block;
	padding: 0 20px;
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 44px;
}
div#order_memberedit ul.tabs li a:hover {
	background: #fff;
}
div#order_memberedit ul.tabs li.active  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
div#order_memberedit ul.tabs li.active a:hover {
	background: #fff;
}
div#order_memberedit div.tab_container {
	clear: left;
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 0 5px 5px 5px;
	box-shadow:1px -3px 5px 1px rgba(20%,20%,40%,0.05);
}
div#order_memberedit div.tab_container .tab_content {
	min-height: 520px;
	padding: 20px;
}
div#order_memberedit div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}
div#order_memberedit table{
	margin: 40px 0 20px 0;
	font-size: 14px;
}
div#order_memberedit table tr:nth-child(even) {
	background: #FFF;
	height: 42px;
	line-height: 42px;
	color:#333;
}
div#order_memberedit table tr:nth-child(odd) {
	background: #ddd;
	height: 30px;
	line-height: 30px;
	color:#333;
}
div#order_memberedit table tr.titlebar {
	background-color: #999;
	color: #fff;
	height: 30px;
	line-height: 30px;
}
div#order_memberedit select.pageNum{
	display: block;
	margin: 0 auto;
	padding: 5px;
	background: #fff;
	border: 1px solid #999;
	color: #666;
}
div#order_memberedit div.memberedit{
	display: block;
	width: 605px;
	height: 370px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 0;
	background: url('../images/memberedit.jpg');
	background-repeat: no-repeat;
}
div#order_memberedit div.memberedit p.note{
	margin: 0 0 0 80px;
	line-height: 24px;
	font-size: 14px;
	color: #666;
}
div#order_memberedit table.memberedit{
	margin: 20px 0 0 0;
}
div#order_memberedit table.memberedit tr{
	height: 30px;
	background-color: #fff;
	font-size: 13px;
}
div#order_memberedit input{
	height: 21px;
	line-height: 21px;
	border: 1px solid #999;
}
div#order_memberedit table.memberedit  select{
	padding: 2px;
	background: #fff;
	border: 1px solid #999;
	color: #666;
}
div#order_memberedit input.mail{
	width: 360px;
}
div#order_memberedit input.address{
	width: 285px;
}
div#order_memberedit input.submit ,div#order_memberedit input.reset{
	width: 68px;
	height: 30px;
	margin: 5px;
	padding: 0;
	background: #666;
	color: #fff;
	border-radius: 5px;
	box-shadow:1px 1px 5px 1px rgba(20%,20%,40%,0.4);
	cursor: pointer;
}
div#buystep1 {
	width: 1005px;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 50px;
}
div#buystep1 div.txt{
	width: 1005px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url('../images/buystep1.jpg');
}
div#buystep1 div.line{
	width: 1005px;
	height: 5px;
	margin: 0;
	padding: 0;
	background-color:#d15433;
}
div#buystep1 div.line div{
	width: 420px;
	height: 5px;
	margin: 0;
	padding: 0;
	background-color: #e39480;
}
div#buystep1_info{
	width: 1005px;
	height: 525px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 25px;
}
div#buystep1_info div.content1{
	width: 965px;
	height: 220px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 40px;
	padding: 50px 20px 50px 20px;
	color:#333;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
div#buystep1_info div.content2{
	position: relative;
	width: 1005px;
	height: 165px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
div#buystep1_info div.content1 div.photo{
	float: left;
	width: 300px;
	height: 220px;
	background-color: #eee;

}
div#buystep1_info div.content1 div.contnet{
	width: auto;
	height: 220px;
	margin: 0 0 0 300px;
	padding: 0 0 0 10px ;
}
div#buystep1_info div.content1 div.contnet div.name{
	font-size: 21px;
	font-weight: bold;
	line-height: 24px; 
	margin: 0 0 10px 0;
}
div#buystep1_info div.content1 div.contnet div.desc{
	line-height: 21px;
	font-size: 16px;
	margin: 0 0 10px 0;
}
div#buystep1_info div.content1 div.contnet div.title{
	line-height: 24px;
	font-size: 16px;
}
div#buystep1_info div.content1 div.contnet ul li{
	line-height: 26px;
	font-size: 16px;
}
div#buystep1_info div.content1 div.contnet ul li span{
	color: #d15433;
}
div#buystep1_info div.content2 div.icon{
	position: absolute;
	top:55px;
	left: 195px;
	width: 58px;
	height: 50px;
	background: url('../images/icon2.jpg');
}
div#buystep1_info div.content2 div.sum{
	position: absolute;
	top:55px;
	left: 260px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
div#buystep1_info div.content2 div.price{
	position: absolute;
	top:85px;
	left: 260px;
	font-size: 28px;
	font-weight: bold;
	color: #d15433;
}
div#buystep1_info div.content2 a.step1btn1{
	position: absolute;
	top:25px;
	left: 600px;
	display: block;
	width: 251px;
	height: 51px;
	background: url('../images/step1btn1.jpg');
	cursor: pointer;
}
div#buystep1_info div.content2 a.step1btn2{
	position: absolute;
	top:90px;
	left: 600px;
	display: block;
	width: 251px;
	height: 49px;
	background: url('../images/step1btn2.jpg');
	cursor: pointer;
}
div#cart_black{
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 9;
}
div#cart_login{
	position: fixed;
	top:0;
	left: 0;
	display: none;
	width: 390px;
	height: 265px;
	margin: 0;
	padding:10px 20px 10px 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
	background-color: #fff;
	z-index: 99;
}
div#cart_login div.close{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #999;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	margin: 0 0 20px 380px;
	cursor: pointer;
}
div#cart_login h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	color: #333;
	margin: 0 0 20px 0px;
}
div#cart_login div.mail{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	margin: 10px 0 10px 0;
}
div#cart_login div.mail input{
	width: 300px;
}
div#cart_login div.paswd{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	margin: 10px 0 10px 28px;
}
div#cart_login div.paswd a{
	text-decoration: none;
	color: #666;
}
div#cart_login div.paswd a:hover{
	text-decoration: underline;
}
div#cart_login input.submit{
	display: block;
	width: 251px;
	height: 50px;
	background: url('../images/step1btn3.jpg');
	cursor: pointer;
	border-radius: 15px;
	text-indent: -9999px;
	border:0px;
	margin: 0 auto;
	margin-top:20px;
}

div#cart_login input.orderMemberedit
{
	background: url('../images/login_btn.png');
}

div#cart_forgot_pwd{
	position: fixed;
	top:0;
	left: 0;
	display: none;
	width: 390px;
	height: 245px;
	margin: 0;
	padding:10px 20px 10px 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
	background-color: #fff;
	z-index: 99;
}
div#cart_forgot_pwd div.close{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #999;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	margin: 0 0 20px 380px;
	cursor: pointer;
}
div#cart_forgot_pwd h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	color: #333;
	margin: 0 0 20px 0px;
}
div#cart_forgot_pwd div.mail{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	margin: 10px 0 10px 0;
}
div#cart_forgot_pwd div.mail input{
	width: 300px;
}
div#cart_forgot_pwd div.paswd{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 21px;
	margin: 10px 0 10px 28px;
}
div#cart_forgot_pwd div.paswd a{
	text-decoration: none;
	color: #666;
}
div#cart_login div.paswd a:hover{
	text-decoration: underline;
}
div#cart_forgot_pwd input.submit{
	display: block;
	width: 251px;
	height: 50px;
	background: url('../images/step1btn3.jpg');
	cursor: pointer;
	border-radius: 15px;
	text-indent: -9999px;
	border:0px;
	margin: 0 auto;
	margin-top:20px;
}


div#buystep2 {
	width: 1005px;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 50px;
}
div#buystep2 div.txt{
	width: 1005px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url('../images/buystep2.jpg');
}
div#buystep2 div.line{
	width: 1005px;
	height: 5px;
	margin: 0;
	padding: 0;
	background-color:#d15433;
}
div#buystep2 div.line div{
	width: 235px;
	height: 5px;
	margin: 0 0 0 420px;
	padding: 0;
	background-color: #e39480;
}
div#buystep2_info{
	position: relative;
	width: 1005px;
	height: 660px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 25px;
}
div#buystep2_info div.content1{
	width: 895px;
	height: 384px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 15px 55px 30px 55px;
	color:#333;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
div#buystep2_info div.content2{
	position: relative;
	width: 475px;
	height: 180px;
	margin: 0;
	padding: 20px 60px 20px 60px ;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
div#buystep2_info div.content1 div.photo{
	float: left;
	width: 256px;
	height: 384px;
	margin: 0;
	position: 0;
}
div#buystep2_info div.content1 div.form{
	width: auto;
	height: 384px;
	margin: 0 0 0 266px;
	position: 0;
}
div#buystep2_info div.content1 div.form div.str1{
	font-size: 24px;
	color: #333;
	font-weight: bold;
	line-height: 42px;
}
div#buystep2_info div.content1 div.form div.str2{
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
div#buystep2_info div.content1 div.form table{
	margin: 30px 0 0 0;
}
div#buystep2_info div.content1 div.form table tr{
	height: 30px;
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
div#buystep2_info div.content2 div.str1{
	font-size: 24px;
	color: #333;
	font-weight: bold;
	line-height: 42px;
}
div#buystep2_info div.content2 div.str2{
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
div#buystep2_info div.content2 table{
	margin: 10px 0 0 0;
}
div#buystep2_info div.content2 table tr{
	height: 30px;
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
div#buystep2_info a.step1btn1{
	position: absolute;
	top:525px;
	left: 685px;
	display: block;
	width: 251px;
	height: 51px;
	background: url('../images/step1btn1.jpg');
	cursor: pointer;
}
div#buystep3 {
	width: 1005px;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 50px;
}
div#buystep3 div.txt{
	width: 1005px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url('../images/buystep3.jpg');
}
div#buystep3 div.line{
	width: 1005px;
	height: 5px;
	margin: 0;
	padding: 0;
	background-color:#d15433;
}
div#buystep3 div.line div{
	width: auto;
	height: 5px;
	margin: 0 0 0 655px;
	padding: 0;
	background-color: #e39480;
}
div#buystep3_info{
	position: relative;
	width: 1005px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 25px;
}
div#buystep3_info div.content1{
	width: 895px;
	height: 440px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 15px 55px 30px 55px;
	color:#333;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
div#buystep3_info div.content1 div.photo{
	float: left;
	width: 487px;
	height: 440px;
}
div#buystep3_info div.content1 div.desc{
	margin: 0 0 0 500px;
	padding: 180px 0 0 0;
	width: auto;
	height: 260px;
}
div#buystep3_info div.content1 div.desc div.str1{
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	background: url('../images/checkbox.jpg');
	background-repeat: no-repeat;
	padding: 0 0 0 40px;
}
div#buystep3_info div.content1 div.desc div.str2{
	font-size: 14px;
	line-height: 21px;
}

br.clear{
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
}

div#fb_share
{
	width:50px; 
	height:20px;
	cursor: pointer;
	float: left;
	margin-right: 20px;
}

div#fb_share img
{
	width:50px; 
	height:20px;
	cursor: pointer;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#planStyle > li.Isempty
{
	text-decoration: line-through;
}